.error {
  color: red;
  list-style-type: none;
}
.success {
  color: green;
  font-weight: bold;
}
.products img {
  width: auto;
  height: auto;
  width: 270px;
  height: 200px;
}

input[type="file"] {
  display: none;
}
#price {
  display: block;
}
.crop {
  height: 300px;
  overflow: hidden;
}
.crop img {
  height: 20%;
  width: auto;
}
.white {
  color: white;
}
