.error {
  color: red;
  list-style-type: none;
}
.success {
  color: green;
  font-weight: bold;
}
.products {
  width: 100%;
}
.products img {
  width: 20%;
}
.products ul {
  list-style-type: none;
}
